QUART_SECRET_KEY=a-very-secret-key
MAM_ID=mam_id_here-generated-from-myanonamouse-website
MAM_UID=your_mam_user_id_here
QB_URL=http://127.0.0.1:6767
QB_USERNAME=your_qbittorrent_username
QB_PASSWORD=your_qbittorrent_password
QB_CATEGORY=default_qbittorrent_category

# Cloudflare Access Zero Trust credentials (or other custom headers) (optional)
# CF_ACCESS_CLIENT_ID=
# CF_ACCESS_CLIENT_SECRET=

METADATA_FILE=./data/metadata.json
IP_STATE_FILE=./data/ip_state.json
CONFIG_FILE=./data/config.json
ORGANIZED_PATH=/audiobooks/organized # final organized destination
QB_PATH=/audiobooks/qbittorrent # qbittorrent download path
# if using AUTO_ORGANIZE, ensure these paths are on the same device (and Docker volume, if running in Docker)

# set to true to enable automatic organization after download completes
AUTO_ORGANIZE=true